### Node ###
# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# dotenv environment variables file
.env

### Sass ###
.sass-cache/
*.css.map
*.sass.map
*.scss.map

package.lock.json